body {
  color:#ffffff;
  background-color:#000000;
  font-family: BankGothic-Md-BT-Medium;
}
html, body{
    overflow:hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
div{
  display: block;
}
h1, p {
  margin: 5px 5px;
}
#logo {
  background-image: url('images/header2.jpg');
  background-color: #000000;
	background-repeat: no-repeat;
  height: 220px;
  width: 586px;
  margin: 10% auto 0 auto;
}
#content{
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: 'BankGothic-Md-BT-Medium';
  src: url('BankGothic-Md-BT-Medium.eot');
  src: url('BankGothic-Md-BT-Medium.eot?#iefix') format('embedded-opentype');
  src: url('BankGothic-Md-BT-Medium.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


	@media screen and (max-width: 580px) {
		#logo {
      background-image: url('images/logomobile.jpg');
      height: 88px;
      width: 234px;
    }
	}
  @media screen and (max-height: 390px) {
    #logo {
      background-image: url('images/logomobile.jpg');
      height: 88px;
      width: 234px;
    }
  }
  @media screen and (max-width: 300px) {
		#logo {
      width: auto;
    }
	}


.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/*.dropdown-content a:hover {background-color: #f535e0}

.dropdown:hover {
    display: block;
}

.dropbtn:hover {
    background-color: #9e9e9e;
}

.dropbtn:hover + .dropdown-content {
  display: block;
}
.dropdown-content:hover{
  display: block;
}
.dropdown-content:hover + .dropbtn{
  background-color: #9e9e9e;
}
.dropdown:hover {
  background-color: #9e9e9e;
}
*/
.dropdown {
    position: absolute;;
    right: 0;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #9e9e9e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: none;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown.touch {
  position: relative;
  display: inline-block;
  float:right;
  z-index: 9;
}

.dropdown.touch .dropdown-content {
    display: block;
    z-index: 9;
    min-width: 160px;
    right: 0;
    cursor: none;
}
.dropdown-item {
  cursor: none;
}

.dropdown-content .hoveron {

    background-color: #f535e0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content-hover a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}
.dropbtn.touch{
  background-color: #9e9e9e;
}
